# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
env/
ENV/
*.env
.env.*
*.sqlite3

# Node.js / frontend
node_modules/
dist/
build/

# Logs
*.log

# OS archivos
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Otros
*.pyc
*.pyo
*.pyd

# Archivos de configuración local
.env
.env.*
